# =======================
# Archivos de entorno Python
# =======================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# =======================
# Entornos virtuales
# =======================
venv/
ENV/
env/
.venv/

# =======================
# Archivos de configuración y logs
# =======================
*.log
*.pot
*.mo
*.sqlite3
*.db

# =======================
# Configuración IDE / OS
# =======================
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# =======================
# Archivos de Streamlit
# =======================
.streamlit/

# =======================
# Archivos de Jupyter (si se usan)
# =======================
.ipynb_checkpoints
